.table-footer {
  background-color: white;
  display: flex;
  padding: 25px;
  padding-top: 0;
}
.container {
  align-items: center;
  border-top: 2px #f8f8f8 solid;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}
